.nav {
  grid-area: nav;
  background-color: #7C5AC1 ;
  padding: 20px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.active {
  color: gold;
}
.friends {
  margin-top: 25px;
  font-size: 25px;
}
 .item img {
   width: 40px;
   border-radius: 40px;
   display: flex;

 }